.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  height:600px;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.Backyo{
  background-color:gray;
}
.app-wrapper-content {
    grid-area: 'c';
    background-color:chocolate ;
}

.app-wrapper-content img {
width: 600px;
}